<html>
<div class="header">
    <a class="item1" routerLink="/home" routerLinkActive="active">HOME</a>
    <a class="item2" routerLink="/about" routerLinkActive="active">ABOUT</a>
    <a class="item3" routerLinkActive="active">PROJECTS</a>
    <a class="item4" routerLinkActive="active">CONTACT</a>
    <a></a>
    <a href="https://www.linkedin.com/in/jaswanth-vankadara/" target="_blank" class="linkedin-link">
        <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="LinkedIn Logo">
        <span>Linkedin</span>
      </a>
      
</div>
<div class="aboutshow">
   <img class="abouemeimage" src="../assets/Aboutme.jpg" alt="">
   <span class="aboutcontent"> <b>Hi, I'm Jaswanth Vankadara</b> <br>An Impassioned Associate Software Engineer with a proven track record of 2 years in development,As a passionate frontend developer at Accenture, I thrive on creating immersive and 
    user centric web experiences. My journey in the world of web development has been nothing 
    short of exhilarating, as I've had the privilege of working on diverse projects that have 
    honed my skills in HTML, CSS, JavaScript, Angular and modern frontend libraries and frameworks.  
    <a href="../assets/Girishwaran_M R_Full Stack Developer_Resume.pdf" target="_blank"><button class="Resume" >Download Resume</button></a>
   </span>  
 
    
</div>

<div class="education">Education and Experience</div>
<div class="aboutshow" > 
    <span class="aboutcontent">
    <div class="timeline">
        <div class="container right">
          <div class="content">
            <div>2024 -  Present [<span id="currentTime"></span>]</div>
            <p>Application Development Analyst at Accenture</p>
          </div>
        </div>
        <div class="container right">
          <div class="content">
            <h2>2023</h2>
            <p>Application Development Associate at Accenture</p>
          </div>
        </div>
        <div class="container right">
          <div class="content">
            <h2>2018 - 2022</h2>
            <p>Kalasalingam University- Electronics and Communication Engineering Department</p>
          </div>
        </div>
      </div>
    </span>
</div>
<div class="skill">Skills</div>

<div class="skillimages">
  
  <img class="skillicon1" src="../assets/html.png" alt="">
  <img class="skillicon" src="../assets/css-3.png" alt="">
  <img class="skillicon" src="../assets/Angular.png" alt="">
  <img class="skillicon" src="../assets/js.png" alt="">
  <img class="skillicon" src="../assets/postgres.png" alt="">
</div>

<div class="Getintouch">
  <div class="getalign">GET IN TOUCH</div><br>
  
</div>
<a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=jaswanthvankadara123@example.com" target="_blank">GMAIL</a> 
</html>